<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="text-lg font-bold">Datos Generated Results</h1>
    <br />
    <textarea name="results" id="results" rows="50" cols="100">
       {{text_data}}
    </textarea>
    <!-- <div id="chart" class="chart">
        {% for item in line %}
        <img src={{item}} style="width: 100px; height: 100px;"/>
        {% endfor %}
    </div> -->

    <img src="/plots/barplots/figEmbarked.png" style="height: 200px; width: 200px;" alt=""/>
  </body>
</html>
